<!DOCTYPE html>
<html lang="en" ng-app="OrdenApp">
    <head>
        <title>Gestor de Productos</title> 
        <link rel="stylesheet" href="css/style-div.css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <!-- Local Storage Module -->
        <script src="js/angular-local-storage.min.js"></script>

    </head>

    <body>
        <div class="container-main" ng-controller="OrdenController">
            <div class="topbar">
                <div class="sidebarMo">
                    <button class="sidebarBt"><b>𝄘</b></button>
                </div>
                <div class="logo">
                    <a href="dashboard.html">Comercializadora ACME S.A.S.</a>
                </div>
                <div class="button-session">
                    <a href="index.html" class="cerrar">Cerrar Sesión</a>
                </div>
            </div>
            <div class="container">
                <div class="sidebar">
                    <ul>
                        <li><a href="dashboard.html">Panel de Control</a></li>
                        <li><a href="gestor-de-productos.html">Gestor de Productos</a></li>
                        <li><a href="gestor-de-clientes.html">Gestor de Clientes</a></li>
                        <li><a href="gestor-de-proveedores.html">Gestor de Proveedores</a></li>
                        <li><a href="gestor-de-categorias.html">Gestor de Categorias</a></li>
                        <li><a href="gestor-de-ordenes.html" class="selected">Ordenes de Trabajo</a></li>
                        <li><a href="gestor-de-cotizaciones.html">Cotizaciones</a></li>
                        <li><a href="gestor-de-reportes.html">Reportes</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Ordenes de Trabajo</h2>
                    <div ng-controller="OrdenController" class="actionsTrabajo">
                    <h3>Detalles de Orden de Trabajo</h3>
                    <form ng-submit="saveOrden()">
                        <div class="actions">
                            <div class="inputInfo">
                                <p><b>Cliente</b></p>
                                <input type="text" placeholder="Seleccionar cliente..." ng-model="newOrden.usuario" class="entrada" required>
                            </div>
                            <div class="inputInfo">
                                <p><b>Responsable</b></p>
                                <input type="text" placeholder="Nombre del Responsable..." ng-model="newOrden.responsable" class="entrada" required>
                            </div>
                        </div>

                        <div class="actions">
                            <div class="inputInfo">
                                <p><b>Método de Pago</b></p>
                                <input type="text" placeholder="Método de Pago..." ng-model="newOrden.metodoPago" class="entrada" required>
                            </div>
                            <div class="inputInfo">
                                <p><b>Estado</b></p>
                                <select ng-model="newOrden.estado" required>
                                <option value="pendiente">Pendiente</option>
                                <option value="proceso">En Proceso</option>
                                <option value="completado">Completado</option>
                                </select>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="actions">
                            <div class="button-add">
                                <button type="submit" class="agregar">
                                    {{ editingIndex === null ? "Agregar Orden" : "Actualizar Orden" }}
                                </button>
                            </div>
                        </div>
                    </form>
                        <div class="finished_products">
                            <h2>Orden de Trabajo</h2>
                            <div class="table_finished_products">
                                <table class="ordenes">
                                    <thead>
                                        <tr>
                                        <th>Usuario</th>
                                        <th>Responsable</th>
                                        <th>Método de Pago</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="orden in ordenes track by $index">
                                        <td>{{ orden.usuario }}</td>
                                        <td>{{ orden.responsable }}</td>
                                        <td>{{ orden.metodoPago }}</td>
                                        <td>{{ orden.estado }}</td>
                                        <td>
                                            <button class="editar" ng-click="editOrden($index)">Editar</button>
                                            <button class="eliminar" ng-click="deleteOrden($index)">Eliminar</button>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="action-orden">
                        <div class="button-add">
                            <button class="cancelarO" ng-click="cancelarOrdenes($index)">Cancelar</button>
                        </div>
                        <div class="button-add">
                            <button class="agregar" ng-click="generarRecibo()">Guardar Orden</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="js/controller3.js"></script>
        <script src="js/sidebar.js"></script>
    </body>
</html>